html {
    font-size: 110%;
}

body {
    background-color: rgb(226, 226, 226);
}

.title {
    text-align: center;
    font-size: 3rem;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

#logoutButton {
    background: #002ED3;
    color: white;
    font-weight: bold;
}

.welcome {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 4px black;
}

.table-responsive {
    width: 90vw;
}

.excel {
    background: #28A745!important;
    border: #28A745!important;
    color: white!important;
}

.imprimir {
    background: #fd7e14!important;
    border: #fd7e14!important;
    color: white!important;
}

.crear {
    background: #007bff!important;
    border: #007bff!important;
    color: white!important;
}

.button {
    width: 20vw;
    display: inline-block;
    padding: 5px;
    border: 1px black solid;
}

.button:hover {
    text-decoration: none;
    border: 1px solid white;
}